---
layout: default
title: Player
---



<script>
const labels = [
"Goals + Assists", "xG", "xAG",  // results
"Progressive Carries", "Progressive Passes", "Progressive Passes Rec",
"Passes Attempted", "Pass Completion %", "Progressive Passes", "Assists", "Key Passes", "Crosses", // passing
"Tackles", "Tackles Won", "Blocks", "Interceptions", "Touches", "Take-Ons Attempted", "Successful Take-Ons"
]
var chart;

function playerDataRead(playerData, playerName, color) {
  const localChart = chart;
  const newDataSet = {
    label: playerName,
    backgroundColor: color,
    data: []
  }
  const playerValues = {}
  const lines = playerData.split("\n")
  for (let i in lines) {
    let parts = lines[i].split(",")
    playerValues[parts[0]] = parts[parts.length-1]
  }
  for (let l in labels) {
    let ll = labels[l]
    let v = playerValues[ll]
    if(!v) v = 0
    newDataSet.data.push(v)
  }
  localChart.data.datasets.push(newDataSet)
  localChart.update();
}

function populateFromSelect(s, color) {
  if(s.selectedIndex != -1) {
    const player0 = s.value
    const name = s.options[s.selectedIndex].text
    $.get(player0, function(data) { playerDataRead(data, name, color)})
  }
}

function selectPlayer() {
  if(!chart) {
    chart = initChart();
  }
  chart.data.datasets.length = 0
  populateFromSelect(document.getElementById('selectedPlayerBlue'), 'rgba(54, 162, 235, 0.2)')
  populateFromSelect(document.getElementById('selectedPlayerRed'), 'rgba(255, 99, 132, 0.2)')
}

function initChart() {
  return new Chart(document.getElementById("playerChart"), {
  type: 'radar',
  data: {
    datasets: [{
        data: []
    }],
    labels: labels
  },
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: 'Radar Statistics'
      }
    }
  },
});
  
}

function loadPlayers(teamSelectId, playerSelectId) {
  teamSelect = document.getElementById(teamSelectId)
  playerSelect = document.getElementById(playerSelectId)
  if(teamSelect.selectedIndex != -1) {
    const teamName = teamSelect.value
    $.get("players/" + teamName + "/players.csv", function(data) { 
      let options = playerSelect.getElementsByTagName('option')
      for(var i = options.length; i--; ) {
        playerSelect.removeChild(options[i])
      }
      op = document.createElement('option')
      op.disabled = true
      op.text = "-- select a player --"
      playerSelect.add(op)
      let lines = data.split("\n")
      for(let lineIndex in lines) {
        let line = lines[lineIndex]
        if(line.startsWith("player") || line.length == 0) continue
        let parts = line.split(",")
        let name = parts[0] + " ( " + parts[2] + " ) "
        let url = parts[1]
        op = document.createElement('option')
        op.value = url
        op.text = name
        playerSelect.add(op)
        
      }
      selectPlayer()
    })
  }
}

</script>

<h4> Data from fbref.com - Percentiles </h4>
<table>
  <tr>
    <td><select id="teamBlue" onchange="loadPlayers('teamBlue', 'selectedPlayerBlue');" >
      <option disabled selected value> -- select an option -- </option>
      {% for item in site.data.teams %}
      <option value="{{item.name}}" >
          {{ item.name}}
      </option>
    {% endfor %}
    </select></td>
    <td>
      <select id="teamRed" onchange="loadPlayers('teamRed', 'selectedPlayerRed');" >
        <option disabled selected value> -- select an option -- </option>
        {% for item in site.data.teams %}
        <option value="{{item.name}}" >
            {{ item.name}}
        </option>
      {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <td><select id="selectedPlayerBlue" onchange="selectPlayer()" >
      <option disabled selected value> -- select an option -- </option>
  </select></td>
    <td><select id="selectedPlayerRed" onchange="selectPlayer()" >
      <option disabled selected value> -- select an option -- </option>
    </select></td>
  </tr>
</table>

<br>



<br>
<div style="width: 450px; height: 450px" >
  <canvas id="playerChart" style="width: 400px; height: 400px" ></canvas>
</div>
